@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');


body{
    margin: 0;
    min-height: 100vh;
    font-family: Sen, sans-serif;
    letter-spacing: 2px;
    background: #ced1d3;
}

a{
    text-decoration: none;
}

.user-interface{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.result{
    background-color: green;
    color:#fff;
    padding:20px;
}

.row{
    display:flex;
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
}

.item-container{
    width: fit-content;
    height: flex;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 5px 30px 10px rgba(0,0,0,0.4);
}

.form-container{
    margin-top: 5%;
    margin-left: 30%;
}

.bill-counter {
    margin: auto;
    width: 25rem;
    height: 10rem;
    text-align: center;
    font-size: 0.8rem;
    position: relative;
    left: 25rem;
    top: 3rem;
}

label {
    position: relative;
    bottom: 3px;
}

button {
    cursor: pointer;
    color: white;
    background: black;
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    font-family: Sen, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 5px;
  }
  
button:hover {
    background: rgb(238, 255, 53);
    color: black;
    font-family: Sen, sans-serif;
}
  
button:focus {
    outline: none;
}

input {
    width: 100%;
    height: 34px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    transition: all 0.3s;
}
  

/* Modal Section */

#myBtn {
    width: 80%;
    padding: 1%;
    margin: 1rem;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 1rem; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
/* Modal Content */
.modal-content {
background-color: #fefefe;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
text-align: center;
}

.modal-content p {
    font-size: 2rem;
    font-weight: bold;
}

.modal-content img {
    border: #000 solid;
    width: 40%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}