{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Smart Cart - ADD{% endblock %}
{% block content %}
<style>
    .messege-container {
        height: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    marquee {
        font-size: 2rem;
        font-weight: 800;
    }
</style>
<div class="messege-container">
    {% with messeges = get_flashed_messages() %}
        {% if messeges: %}
            {% for messege in messeges: %}
            <marquee direction="left" loop="1" scrollamount="15">{{ messege }}</marquee>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
    <div class="form-container add-item jumbotron container">
        <form action="{{ url_for('add_into_db') }}" method="post">
            {{ form.csrf_token }}
            {{ wtf.quick_form(form) }}
        </form>
    </div>
{% endblock %}