{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Smart Cart - ADD{% endblock %}
{% block content %}
<style>
    .messege-container {
        height: 2rem;
        margin-top: 2rem;
    }
    marquee {
        font-size: 2rem;
        font-weight: 800;
    }
</style>
<div class="messege-container">
    {% with messeges = get_flashed_messages() %}
        {% if messeges: %}
            {% for messege in messeges: %}
            <marquee direction="left" loop="1" scrollamount="15">{{ messege }}</marquee>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
    <div class="form-container add-item jumbotron container">
        <form action="{{ url_for('add_into_csv') }}" method="post">
            {{ form.csrf_token }}
            {{ wtf.quick_form(form) }}
            <!-- <label for="barcode-data">Bar code:</label>
            <input id="barcode-data" type="text" name="barcode-data" placeholder="Barcode of the item" autocomplete="off">
            <br>
            <br>
            <label for="item-name">Item Name:</label>
            <input id="item-name" type="text" name="itemName" placeholder="Name of the item" autocomplete="off">
            <br>
            <br>
            <label for="price-input">Price:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input id="price-input" type="number" min="1" name="priceAmt" placeholder="Price of the item" autocomplete="off">
            <br>
            <br>
            <label for="quantity">Quantity:</label>
            <input id="quantity" type="number" min="1" step="1" name="quantity" placeholder="How many units?" autocomplete="off">
            <br>
            <br>
            <button type="submit" disabled style="display: none;" aria-hidden="true">Submit</button>
            <button type="submit" id="submit-btn">Submit</button> -->
        </form>
    </div>
{% endblock %}